{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
<header>
    <!--Navbar-->  
     {% block navbar %}
     {% include 'navbar.html' %}
     {% endblock %}  
 </header>
{% block content %}
<div class="container" >
    <div class="row" >
        <div class= "col-md-6" >
            <img style="margin-right: 9vw; margin-top: 2vw;" src="{{url_for('static', filename='assets/signup.png')}}" class="img-responsive img-rounded"/>
          </div>
        <div class="col-sm-6"id="container7">
            <h3 class="text-center">Sign-up</h3>
            {{wtf.quick_form(signup_form)}}        
        </div>
    </div>


    {% endblock%}
</div>

