{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{url_for('static', filename='assets/authenticate.png')}}" class="img-responsive img-rounded"/>
        </div>
        <div class="col-sm-6">
            <h3 class="text-center"><u>Sign-up to experience all features</u></h3>
            {{wtf.quick_form(signup_form)}}        
        </div>
    </div>
<footer>
    <!-- FOOTER BLOCK -->
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
</footer>

    {% endblock%}
</div>

