[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-script = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-migrate = "*"
gunicorn = "*"
flask = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.8"
