
.background{
    width: 43vw;
    height: 52vw;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 3vw;
}
.background .shape{
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 50%;
}
body{
    color: black;
    /* background-color: ; */
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 6vw;
    top: 6vw;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 5vw;
    bottom: 11vw;
}
.container1{
    height: 32vw;
    width: 25vw;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 1vw;
    backdrop-filter: blur(0.1vw);
    border: 0.2vw solid rgba(255,255,255,0.1);
    box-shadow: 0 0 4vw rgba(8,7,16,0.6);
    padding: 3vw 3vw;
}

.container1 *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.1vw;
    outline: none;
    border: none;
    
}
#container{
    height: 32vw;
    width: 65vw;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 1vw;
    backdrop-filter: blur(0.1vw);
    border: 0.2vw solid rgba(255,255,255,0.1);
    box-shadow: 0 0 4vw rgba(8,7,16,0.6);
    padding: 5vw 13vw;
}
.form-control input{
    width: 80%;
}