<<<<<<< HEAD
body{
    background: linear-gradient(to right, #C0F2FE, #FFFF);
}
.navbar-brand{
    font-size: 2vw;
   
}
.nav-link a{
    list-style: none;

    
}
#image1 img{
    border-radius: 50vw;
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
    margin-left: -5vw;
    
}
#image2{
    width: 50vw;
    margin-left: 15vw;
    margin-top: 2vw;
}
#image4{
    text-align: center;
    margin-top: 6vw;
    margin-left: 15vw;
}
#test7{
    border-radius: 50vw;
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
    margin-left: -2vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
}
    
#test1{
    border-radius: 50vw;
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
}
#test2{
    width: 30vw;
    margin-left: 15vw;
}
#test3{
    width: 150%;
    margin-top: 10vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    border-radius: 1vw;
    border: 0.1vw solid white;
    margin-bottom: 5vw;


}
=======
/* body{
    background: linear-gradient(to right, #C0F2FE, #FFFF);
}
.navbar{
    background-color: 
    #c4c4c4;
} */
>>>>>>> 69891c99972d5694a50e4c8d6c6dee600ce24345
