{%extends 'base.html'%}

{% block content%}
<div class="container"  >
    <div class="row">
      <div class="quote">
      <div class="col-lg-8 mb-3 mx-auto">
        <div class="card">
          <div class="card-header text-center" style="color: deeppink;">
            <b>Quote of the Day</b>
          </div>
          <div class="card-body">
              <p>{{ quotes.quotes }}</p>
              <cite>{{ quotes.author }}</cite>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="head text-center text-light ">
    <h1><strong>UDAKU ZONE</strong></h1>
  </div>
      {% for feedback in feedback %}
      <div class="col-md-12 mb-3">
          <div class="blog">
        <div class="panel panel-default text-center " id="display1">
            <div class="panel-heading">
                <h4 span style="font-weight: 900;">{{ feedback.title}}</h4>
            </div>
            <div class="panel-body">
                <p>Company:{{ feedback.company }}</p>
                <p>{{ feedback.context }}</p>
                <p class="panel-text"><strong>Created on: <span class="badge rounded-pill text-dark">{{
                  feedback.date_created  }}</span></strong> <br>
                  <a href="{{url_for('main.upvote',id = feedback.id)}}"> <i class="fa fa-thumbs-up"></i> upvotes: {{feedback.upvote.count()}}</a>
                  <a href="{{url_for('main.downvote',id = feedback.id)}}"> <i class="fa fa-thumbs-down"></i> downvotes: {{feedback.downvote.count()}}</a>
                  <a href="{{ url_for('main.comment', feedback_id = feedback.id)}}"><i class="fa fa-comments" aria-hidden="true"></i>comment</a>
                </p>
            </div>
          </div>
        </div>
    </div>
    {% endfor%}
{% endblock %}







