{% extends 'bootstrap/base.html'%}
{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> Feedback {{ title }}</title>
        {% else %}
        <title> Feedback </title>
        {% endif %}
        {% block styles%}
            {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
    </head>
    <header>
       <!--Navbar-->  
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  
    </header>
    <body>
        {% block content %}
       <div  id="test3" >
        <div  class="container text-center">
            
            {% for feedback in feedbacks %}
                <div class = "col-md-6">
                    <div  class="card">
                        <div  id="card10" class="card-body">
                            <h3 class = "card-title">Feedback-type : {{ feedback.category }}</h3>
                            <p class = "card-text text-center"> {{ feedback.context }}</p>
                            <p class = "card-text">Inception Date:&nbsp;{{ feedback.posted.strftime('%Y-%m-%d') }}</p>
                            <a class =" btn btn-sm btn-success" href="{{ url_for('main.comment', feedback_id = feedback.id)}}">Comments:{{feedback.comment.count()}}</a>
                            <a class =" btn btn-sm btn-primary" href="{{url_for('main.like',id = feedback.id)}}">Upvote:{{feedback.upvote.count()}}</a>
                            <a class =" btn btn-sm btn-warning" href="{{url_for('main.dislike',id = feedback.id)}}">Downvote:{{feedback.downvote.count()}}</a>
                            <!-- <a class =" btn btn-sm btn-danger" href="{{url_for('main.delete',id = feedback.id)}}">Delete</a> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- REQUEST FROM QUOTE API -->
        <div class="body1">
        <div class="container"  >
                <div class="row">
                <div class="quote">
                <div class="col-lg-6">
                    <div class="card">
                    <div class="card-header text-center" style="color: #d73716;">
                        <b>Quote of the Day</b>
                    </div>
                    <div class="card-body">
                        <p>{{ quotes.quote }}</p>
                        <cite>{{ quotes.author }}</cite>
                    </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
    </body>
    {%endblock%}
</html>