<nav class="navbar navbar-inverse" role="navigation bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:#cb3314;font-size:1.5vw;font-weight:700;font-family: 'Lobster', cursive;"> Kim's Feedback </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"style="color:black;"><strong>Home</strong></a></li>

                <li><a href="/home"style="color:black;"><strong>Dashboard</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',name=current_user.username)}}"style="color:black;"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a></li>
                <li><a href="{{url_for('main.new_feedback')}}"style="color:black;"><span class="glyphicon glyphicon-envelope">&nbsp;New-Feedback</span></a></li>
                <li><a href="{{url_for('auth.logout')}}"style="color:black;">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}"><span style="color:black;font-weight:700;" class="glyphicon glyphicon-log-in">&nbsp;Sign-in</span></a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>

